@import './base.css';

:root {
  --base-color: #6FE69F;
  --base-secondary-color: #0e1f17;

  --base-secondary-color-hover: #1e4231;

  --base-disabled-color: #393939;

  --base-danger-color: #ff0658;
}

#app {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
  font-weight: normal;
  font-family: 'pt-mono', monospace;
}
